.contentWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
  margin-bottom: 0;
  /* ? flex-direction + flex-wrap shorthand property */
  flex-flow: row wrap;
}
