.contentWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 9rem 7rem;
  padding-bottom: 2rem;
  /* ? flex-direction + flex-wrap shorthand property */
  flex-flow: row wrap;
}
