.card {
  background-color: #b3bd5c;
  border: 4px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 2rem;
  width: 21rem;
  position: relative;
}

.box {
  object-fit: fill;
  width: 100%;
  height: 300px;
}

.characterImg {
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
}

.characterInfo {
  background-color: #fff;
  border-top: 2px solid #000;
  height: 25vh;
  text-align: center;
  font-size: 15px;
}

.characterInfo h2 {
  background-color: #fff;
  border-top: 2px solid #000;
}

.characterInfo h2:first-of-type {
  border-top: none;
}

.redCrossContainer {
  width: 0;
  margin-left: 93%;
  position: absolute;
  top: -3px;
}

.redCross {
  background-color: red;
  font-weight: 700;
  color: #fff;
  margin-left: 92%;
}

.redCross:hover {
  background-color: purple;
  color: #ffc500;
  cursor: pointer;
}
