/* .App {
  text-align: center;
} */

body {
  background-image: url(./components/assets/sunset-and-car.png);
  background-size: 100vw 110vh;
  background-repeat: no-repeat;
  background-position: top;
  background-clip: border-box;
  background-attachment: fixed;
  color: #000;
  /* ? Here we're setting up the horizontal scroll-bar as hidden */
  overflow-x: hidden;
  overflow-y: scroll;
}

footer {
  width: 100vw;
  height: 5vh;
  background-color: #0e12e2;
  border-top: 2px solid #000;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#author {
  font-weight: 700;
  margin-top: 0.65rem;
}

/* ! Me faltan hacer los media queries. Usar los breakpoint de referencia de Bootstrap */
