/* .App {
  text-align: center;
} */

body {
  background-image: url(../src/components/assets/sunset-and-car.png);
  background-size: 100vw 110vh;
  background-repeat: no-repeat;
  background-position: top;
  background-clip: border-box;
  background-attachment: fixed;
  color: #000;
  /* ? Here we're setting up the horizontal scroll-bar as hidden */
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  min-width: 100%;
  min-height: 71.2vh;
}

footer {
  margin-top: 9rem;
  background-color: #0e12e2;
  border-top: 2px solid #000;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/* ! Me faltan hacer los media queries. Usar los breakpoint de referencia de Bootstrap */
